@{
    ViewData["Title"] = "Failure";
}

<section class="d-flex justify-content-center">
    <div class="badge bg-danger text-wrap">
        <h1>Uppsss...</h1>
        <h2>We were unable to complete our work :(</h2>
    </div>
</section>