@using Models
@model Journal

@{
    ViewData["Title"] = @Model?.Title;
}

<div class="container">
    <h2>Delete Journal</h2>
</div>

<form method="post">

    <div class="container">

        <div class="form-floating mb-3">
            <input asp-for="Title" readonly id= "titleJournal" class="form-control text fw-bolder mb-3 text-secondary bg-white" aria-describedby="inputGroup-sizing-lg" />
            <label for="titleJournal">Created: @Model?.CreateDate</label>
        </div>


        <div class="form-floating">
            <textarea asp-for="Message" readonly maxlength="1200" class="form-control bg-white" id="floatingTextarea2" style="height: 14rem;"></textarea>
            <label for="floatingTextarea2">Description</label>
        </div>

        <div class="d-grid gap-2">
        <button type="submit" class="btn btn-danger mb-1 btn-lg" asp-route-id="@Model?.IdJournal">
        Delete
        </button>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a asp-controller="Journal" asp-action="Index" class="btn btn-outline-secundary btn-lg">Maybe, Not!</a>
        </div>
    </div>
</form>