@using Models
@model Note


@{
}


<div class="container">
    <h2>Edit Note</h2>
</div>

<form method="post">
    <div class="container">

        <div class="form-floating mb-3">
        <input asp-for="Title" id= "titleNote" class="form-control text fw-bolder mb-3 text-secondary" aria-describedby="inputGroup-sizing-lg"/>
        <label for="titleNote">Created: @Model?.CreateDate</label>
        </div>

        
        <!-- Textarea with class .w-50 -->
        <div class="form-floating form-outline mb-2">
        <textarea asp-for="Message" maxlength="15000" id="textAreaNote" class="form-control" rows="18" style="height: 500px"></textarea>
        <label for="textAreaNote">Write your note</label>  
        </div>

        <div class="d-grid gap-2">
        <button type="submit" class="btn btn-warning mb-1 btn-lg" asp-route-id="@Model?.IdNote">
        Edit
        </button>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a asp-controller="Journal" asp-action="Notes" class="btn btn-outline-secundary btn-lg">Maybe, Not!</a>
        </div>

    </div>
</form>