@using Models
@model Note


@{
    ViewData["Title"] = @Model?.Title;
}

<div class="container">
    <h2>Note</h2>
    <div class="badge bg-secondary text-wrap">
        <label>Created: @Model?.CreateDate</label>
    </div>
</div>

<section class="container">

    <h3 class="fw-bolder mb-3 text-secondary">@Model?.Title</h3>

    <div class="form-floating form-outline mb-2">
        <textarea asp-for="Message" readonly id="textAreaNoteStatic" class="form-control bg-white" rows="18" style="height: 32rem;"></textarea>
        <label for="textAreaNoteStatic">Modified: @Model?.LastEditDate</label>
    </div>

    <div class="d-grid gap-2">
        <a class="btn btn-light mb-1 btn-lg" asp-controller="Journal" asp-action="EditNote" asp-route-id="@Model?.IdNote">
            Edit
        </a>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-outline-danger btn-sm"  asp-controller="Journal" asp-action="DeleteNote" asp-route-id="@Model?.IdNote">Delete</a>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-outline-secundary btn-sm"  asp-controller="Journal" asp-action="Notes" asp-route-id="@Model?.IdJournal">Back</a>
    </div>
</section>

<section class="container border border-light border-3 rounded">

    <h2>Comments</h2>
    
    <form method="post" >
        <div class="form-floating">
            <textarea name="commentText" id="commentText" maxlength="800" class="form-control" style="height: 6.25rem;"></textarea>
            <label for="commentText">Write Comment</label>
        </div>
        
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit"  class="btn btn-primary mb-1 btn-sm" asp-controller="Journal" asp-action="AddComment" asp-route-id="@Model?.IdNote">Send</button>
        </div>
    </form>              

    <div class="container">
        @if(Enumerable.Any(ViewBag.Comments))
        {
        foreach (var post in ViewBag.Comments)
        {
            <form method="post">
            <div class="form-floating">
            <textarea readonly class="form-control btn-light" id="floatingTextarea3" style="height: 6.25rem;">@post.Message</textarea>
            <label for="floatingTextarea3">Created: @post.CreateDate</label>
            </div>
            
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-outline-danger btn-sm" asp-controller="Journal" asp-action="DeleteComment" asp-route-id="@post.IdComment" asp-route-idNote="@Model?.IdNote">Delete</button>
            </div>
            </form>
        }
        }
        else
        {
            <h3>No comment</h3>
        }
        

    </div>
</section>