@model Models.ViewModels.ShowNoteViewModel

@{
    ViewData["Title"] = @Model?.Title;
}

<div class="container">
    <h2>Delete Note</h2>
</div>

<form method="post" asp-action="">

    <div class="container">

        <div class="container border border-2 rounded">
        <h3 asp-for="Title" id= "titleNoteStatic" class="fw-bolder mb-3 text-secondary">@Model?.Title</h3>
        </div>

        <div class="form-floating form-outline mb-2">
            <textarea asp-for="Message" readonly id="textAreaNoteStatic" class="form-control bg-white" rows="18" style="height: 32rem;"></textarea>
            <label for="textAreaNote">Created: @Model?.CreateDate</label>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-danger mb-1 btn-lg" asp-route-id="@Model?.IdNote">
                Delete
            </button>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-outline-secundary btn-lg" asp-controller="Note" asp-action="ShowNote" asp-route-id="@Model?.IdNote">Maybe, Not!</a>
        </div>

    </div>
</form>