@model Models.ViewModels.ShowNoteAndCommentsViewModel


@{
    ViewData["Title"] = @Model?.Note.Title;
}

<div class="container">
    <h2>Note</h2>
    <div class="badge bg-secondary text-wrap">
        <label>Created: @Model?.Note.CreateDate</label>
    </div>
</div>

<section class="container">

    <h3 class="fw-bolder mb-3 text-secondary">@Model?.Note.Title</h3>

    <div class="form-floating form-outline mb-2">
        <textarea asp-for="Note.Message" readonly id="textAreaNoteStatic" class="form-control bg-white" rows="18" style="height: 32rem;"></textarea>
        <label for="textAreaNoteStatic">Modified: @Model?.Note.LastEditDate</label>
    </div>

    <div class="d-grid gap-2">
        <a class="btn btn-light mb-1 btn-lg" asp-controller="Note" asp-action="EditNote" asp-route-id="@Model?.Note.IdNote">
            Edit
        </a>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-outline-danger btn-sm"  asp-controller="Note" asp-action="DeleteNote" asp-route-id="@Model?.Note.IdNote">Delete</a>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-outline-secundary btn-sm"  asp-controller="Note" asp-action="GetOfJournal" asp-route-id="@Model?.Note.IdJournal">Back</a>
    </div>
</section>

<section class="container border border-light border-3 rounded">

    <h2>Comments</h2>
    
    <form method="post" >
        <div class="form-floating">
            <textarea name="commentText" id="commentText" maxlength="800" class="form-control" style="height: 6.25rem;" required></textarea>
            <label for="commentText">Write Comment</label>
        </div>
        
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit"  class="btn btn-primary mb-1 btn-sm" asp-controller="Comment" asp-action="AddComment" asp-route-idNote="@Model?.Note.IdNote">Send</button>
        </div>
    </form>              

    <div class="container">
        @if(Enumerable.Any(@Model?.Comments))
        {
        foreach (var post in @Model?.Comments)
        {
            <form method="post">
            <div class="form-floating">
            <textarea readonly class="form-control btn-light" id="floatingTextarea3" style="height: 6.25rem;">@post.Message</textarea>
            <label for="floatingTextarea3">Created: @post.CreateDate</label>
            </div>
            
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-outline-danger btn-sm" asp-controller="Comment" asp-action="DeleteComment" asp-route-id="@post.IdComment" asp-route-idNote="@Model?.Note.IdNote">Delete</button>
            </div>
            </form>
        }
        }
        else
        {
            <h3>No comment</h3>
        }
        

    </div>
</section>